body.dark-mode {
    --background-color: #fff;
    --text-color: #000;
    --background-color: #ffffff;
    --link-color: #4ce016b3;
    --link-hover-color: #1976D2;
    --language-selector-background: #444;
    --slider-background: #ccc;
    --slider-checked-background: #000000;
}
 :root{
    --background-color: #000000;
    --text-color: #fff;
    --link-color: #4ce016b3;
    --link-hover-color: #3700b3;
    --language-selector-background: #555;
    --slider-background: #fff6f6;
    --slider-checked-background: #bb86fc;
}
h2{
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: var(--text-color);
}
*{
    transition: background-color 0.5s, color 0.5s;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
position: relative;
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

nav {

    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo a {
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 1.5rem;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links li a {
    color: var(--header-text-color);
    text-decoration: none;
    
}

.container-language {
    position: relative;
    display: inline-block;
}

#language-selector {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--header-text-color);
    border: none;
    appearance: none; /* Remove default dropdown icon */
    background-image: url('src/img/ptbr.webp'); /* Default flag */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    padding-right: 40px; /* Space for the flag */
}

#language-selector[data-selected="en"] {
    background-image: url('src/img/usa.png');
}


.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background);
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--slider-checked-background);
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.container-language, .container-theme, .btn {
    margin-left: 1rem;
}

.btn {
    background-color: var(--link-color);
    color: var(--header-text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--link-hover-color);
}
#home,#about, #projects, #experience{
    width: 100%;
    height: 100vh; 
}
#home{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}
.container-home{
    z-index: 1;
    max-width: 1200px;
}
#home h1{
    font-size: 3rem;
    padding-bottom: 15px;
}
#home p{
    font-size: 2.0rem;
}
.content-home{
    text-align: center;
    width: 100%;
}
.v-shape {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid var(--link-color);
    transform: rotate(180deg);
    animation: rotate-shape 5s infinite linear;
}

/* ============================== */
#about{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}
.container-about{
    max-width: 1200px;
}

.content-about{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}
.about-me{
    width: 600px;
}
/* =========================Cards================== */
#projects{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}
.container-projects{
    max-width: 1200px;
}
.card-projects{
    display: flex;
}
.row{
    margin: 10px;
}

.project-card {
    padding: 15px;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
  }
  .project-image {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .project-content {
    padding: 20px;
  }
  .project-title {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .project-description {
    font-size: 1rem;
    color:var(--text-color);
  }
  .project-tech {
    margin-top: 15px;
  }
  .project-tech span {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--link-color);
    font-size: 0.9rem;
  }
  .tech-html { background-color: #e34c26; }
  .tech-css { background-color: #264de4; }
  .tech-js { background-color: #f0db4f; color: #323330; }
  .tech-react { background-color: #61dafb; color: #20232a; }
  .project-link {
    margin-top: 20px;
    display: inline-block;
    color: #0288d1;
    text-decoration: none;
    transition: color 0.3s;
  }
  .project-link:hover {
    color: #026fa4;
  }
  .project-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .project-buttons a {
    margin-right: 10px;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .btn-github { background-color: #333; width: 50%; }
  .btn-github i,.btn-preview i{
    font-size: 1rem;
    margin-right: 10px;
  }

  .btn-github:hover { background-color: #444; }
  .btn-preview { background-color: #0288d1; width: 50%;}
  .btn-preview:hover { background-color: #026fa4; }
  


@keyframes rotate-shape {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(540deg);
    }
}
.buttons{
    margin-top: 30px;
}
.btn-icon{
    color: var(--text-color);
    border: none;
    margin: 10px 15px;
    background-color: var(--link-color);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;

}
i{
    font-size: 1.5rem;
    color: var(--text-color);
}

#about p{
   
    font-size: 2rem;
}
#emphasis{
    color: var(--link-color);
  }


@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    nav {
        flex-direction: column;
    }
    .nav-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        text-align: center;
        margin: 1rem 0;
    }
    .nav-links.show {
        display: flex;
    }
    .container-language, .container-theme, .btn {
        margin-left: 0;
    }
}

